<section class="row form">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form__complete">
    <h3>Add a New Recipe</h3>
    <form id='recipes_form' class="col-xs-12 col-md-12 col-sm-12 form__info" ng-submit= 'postRecipe(name, ingredients, instructions, preparation_time, link)'>
      <label for="name" class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 form__label"> Name: </label>
      <input ng-model='name' id='name' class="col-xs-6 col-md-6 col-sm-6 form__input">
      <label for="ingredients" class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 form__label"> Ingredients:</label>
      <input ng-model='ingredients' id='ingredients' placeholder="ingredient1, ingredient2, ..." class="col-xs-6 col-md-6 col-sm-6 form__input">
      <label for="instructions" class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 form__label"> Instructions:</label>
      <textarea ng-model='instructions' id='instructions' class="col-xs-6 col-md-6 col-sm-6 form__input" maxlength="500"></textarea>
      <label for="preparation_time" class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 form__label"> Preparation Time:</label>
      <input ng-model='preparation_time' id='preparation_time' placeholder="in minutes" class="col-xs-6 col-md-6 col-sm-6 form__input"><br>
      <label for="link" class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 form__label"> Link:</label>
      <input ng-model='link' id='link' class="col-xs-6 col-md-6 col-sm-6 form__input">
      <div class="col-xs-12 col-sm-12 col-md-12 form__submit">
       <input id='submit' type='submit' value='Submit'>
     </div>
   </form>
 </div>
</section>