
<div ng-controller='VoteRecipesCtrl'>
	<form ng-click='voteRecipeUp()' id="vote_recipe">
	<input id= 'like' type="submit" value="Like"></form>
	likes:{{recipe.votespositive}}<br>
</div>
<br>
<div ng-controller='VoteRecipesCtrl'>
	<form ng-click='voteRecipeDown()' id="vote_recipe">
	<input id= 'dislike' type="submit" value="DisLike"></form>
	dislikes:{{recipe.votesnegative}}
</div>

<div ng-controller='DeleteRecipesCtrl'>
	<form ng-click='deleteRecipe()' id="Delete_recipe">
	<input type="submit" value="delete"></form>
</div>
<div>
	<a href="#/recipes/{{recipe.id}}/{{recipe.name}}/{{recipe.instructions}}/{{recipe.preparation_time}}/edit-recipe" id="Update_recipe">Update Recipe</a>
</div>
<div ng-controller='ViewRecipesDetailsCtrl'>
	{{recipe.name}}<br>
	{{recipe.instructions}}<br>
	{{recipe.preparation_time}}<br>

   <body>
  <iframe class="youtube-player" id='myLink' type="text/html" width="640" height="385" ng-src="{{trustSrc(movie.src)}}" allowfullscreen frameborder="0">
 </body>

