<form id='recipes_form' ng-submit= 'editRecipe(name, ingredients, instructions, preparation_time, link)'>
  Name: <input ng-model='recipe.name' id='name'><br>
  Ingredients: <input ng-model='recipe.ingredients' id='ingredients'><br>
  Instructions: <input ng-model='recipe.instructions' id='instructions'><br>
  Preparation Time: <input ng-model='recipe.preparation_time' id='preparation_time' placeholder="in minutes"><br>
  Link: <input ng-model='recipe.link' id='link'><br>
  <input id='submit' type='submit' value='submit'>
</form>