.heading {
  height: 200px;
  background-size: cover;
  background-image: url('https://static.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg');
  h1 {
    text-align: center;
    padding-top: 40px;
    color: #ffffff;
    text-shadow: 2px 2px 10px #272032;
  }
}